body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    /*background-color: #c01c01;*/
    color: #fff;
    font-family: calibri, sans-serif;
    text-align: center;
}

header, footer {
    background-color: rgba(255,255,255,0.2);
    padding: 10px 0;
    border-radius: 5px;
}

h1 {
    font-family: 'Permanent Marker', serif;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-family: 'Cormorant Unicase', serif;
}

section article p {
    background-color: rgba(0,0,0,0.3);
    padding: 10px 0;
    border-radius: 5px;
}

/* MEDIA */

@media (min-width: 1024px) {

}